body{
    background-image: url("./pink.jpg");
    height: 30%;
    width: 70%;
    background-size: cover;
}
h1 {
    color:darkslategrey;
    font-size: 33px; 

}

h2 {
    color: grey;
    font-size: 30px;
}

*{
    font-family: arial;
color: white;
font-size: 20px;

}